*,*::before,*::after{
    margin:0;
    padding:0;
}

:root{
    font-size:16px;
    box-sizing: border-box;
    color:white;
}

body{
    
}

/* ===========================
    Header
===============================*/

header{
    background: linear-gradient(to right ,black,red);
    text-align: center;
    margin-bottom: 3rem;
}

header h1 {
    font-size:3rem;
    margin: .5em;
}

/* ===========================
    info section
===============================*/

.info {
    width: 50%;
    text-align: center;
    border: 1px solid red;
    margin: 0 auto;
    
}



.info img{
    width: 60%;
    margin: 20px 0;
}

.info h2{
    font-size: 2rem;
    background-color:rgb(197, 2, 2);
    padding:1em;
}

.info h3{
    font-size: 1.5rem;
    background-color:black;
    padding:1em;
    
}

.info h3 span{
    color: red;    
}